.language-container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.language-command > span, .language-desc{
    color: var(--access-color);
}

.language-values{
    margin-bottom: 8px;
}