.header-a > span {
    color: var(--access-color);
}

.header-a {
    text-transform: capitalize;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
}

.selected {
    background-color: var(--selected-background);
}