:root {
  --access-color: #28b13c;
  --close-label: #ff5f56;
  --minimize-label:#ffbd2e;
  --maximize-label:#27c93f;
  --path-display-color: #0051ff;
  --primary-dark: #000;
  --secondary-dark: #262626;
  --subtext-dark: #5e5e5e;
  --primary-light: #fff;
  --secondary-light: #d9d9d9;
  --subtext-light: #a1a1a1;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-default: Arial, Helvetica, sans-serif;
  --elements-max-width: 1440px;
  --elements-max-width-raw: 1440;
  --elements-min-width: 300px;
  --elements-min-width-raw: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-dark);
    --foreground: var(--primary-light);
    --selected-background: var(--secondary-dark);
    --subtext-foreground: var(--subtext-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--primary-light);
    --foreground: var(--primary-dark);
    --selected-background: var(--secondary-light);
    --subtext-foreground: var(--subtext-light);
  }
}

:root.light{
    --background: var(--primary-light);
    --foreground: var(--primary-dark);
    --selected-background: var(--secondary-light);
    --subtext-foreground: var(--subtext-light);
}

:root.dark{
    --background: var(--primary-dark);
    --foreground: var(--primary-light);
    --selected-background: var(--secondary-dark);
    --subtext-foreground: var(--subtext-dark);
}

html,
body {
  min-width: var(--elements-min-width);
  min-height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  flex-grow: 1;
}

button{
  font-family: var(--font-mono);
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
