.main_button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.window_labels {
    display: flex;
    align-items: center;
}

.close {
    background-color: var(--close-label);
}
.minimize {
    background-color: var(--minimize-label);
}
.maximize {
    background-color: var(--maximize-label);
}